[submodule "mktorrent"]
	path = mktorrent
	url = https://github.com/Rudde/mktorrent.git
[submodule "GazelleUI"]
	path = GazelleUI
	url = https://github.com/XanderStrike/GazelleUI.git
[submodule "apotheosis"]
	path = apotheosis
	url = https://github.com/Suit-Of-Sables/apotheosis.git
[submodule "whatmigrate"]
	path = whatmigrate
	url = https://github.com/ThomasColliers/whatmigrate.git
[submodule "pthbetter"]
	path = pthbetter
	url = https://github.com/aktavor69/pthbetter.git
[submodule "pth_utils"]
	path = pth_utils
	url = https://github.com/euri10/pth_utils.git
[submodule "what-toolbox"]
	path = what-toolbox
	url = https://github.com/kappa118/what-toolbox.git
[submodule "wcd2pth-sort"]
	path = wcd2pth-sort
	url = https://github.com/Shurelia/wcd2pth-sort.git
[submodule "invoker"]
	path = invoker
	url = https://github.com/shmeppyshmep/invoker.git
[submodule "invoker-auto.torrent"]
	path = invoker-auto.torrent
	url = https://gist.github.com/2f700229452eff0588a09e6619a57859.git
[submodule "dump_tracklist"]
	path = dump_tracklist
	url = https://gist.github.com/006179eaa4f8418c7f22ad37fa2860aa.git
[submodule "riplogchecker"]
	path = riplogchecker
	url = git://github.com/DenzoNL/riplogchecker.git
